bin/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.settings/

*.lock

*.swf
*.air
*.ipa
*.apk

public/
resources/

*.markdown~
*.md~

.htpasswd

logs
*.log

pids
*.pid
*.seed

lib-cov

coverage

.grunt

.lock-wscript

build/Release

public
dist

node_modules
package-lock.json
bower_components

.DS_Store

.aws-credentials.json
.awspublish*
